@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Pierre   :</strong> <a href="etna@gmail.com">Mail </a><br />
    <strong>Olivier  :</strong> <a href="etna@gmail.com">Mail </a><br />
    <strong>Maxime   :</strong> <a href="etna@gmail.com">Mail </a><br />
</address>
